@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Chivo+Mono:ital,wght@1,600&family=Nabla&family=Roboto:wght@300&family=Rubik+Vinyl&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}
